@model IEnumerable<comp4976assn2.Models.ClientModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoliceFileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourtFileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SwcFileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RiskAssessmentAssignedTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AbuserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberChildren6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberChildren12)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberChildren18)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateLastTransfered)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateClosed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateReopened)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoliceFileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourtFileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SwcFileNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RiskAssessmentAssignedTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AbuserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberChildren6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberChildren12)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberChildren18)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateLastTransfered)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateClosed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateReopened)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClientReferenceNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClientReferenceNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClientReferenceNumber })
        </td>
    </tr>
}

</table>
